{% extends "layout.html" %}

{% block title %}
Booking confirmation
{% endblock %}

{% block styles %}
    {{ super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dateTime.css')}}">
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-6" id="bookingInfo">
        <div class="card">
            <div class="card-header">
                Booking summary
            </div>
            <div class="card-body">
                <div class="card-text" style="text-align:left">
                    <input type="hidden" id="restaurantIdInfo" value="{{ rid }}">
                    <input type="hidden" id="dateInfo" value="{{ theDate.strftime('%Y-%m-%d') }}">
                    <input type="hidden" id="peopleInfo" value="{{ thePeople }}">
                    <input type="hidden" id="timeInfo" value="{{ theTime }}">
                    <label>Date: </label><p style="font-weight: bold; display: inline"> {{theDate.strftime('%d/%m/%Y')}} </p><br>
                    <label>Timeperiod: </label><p style="font-weight: bold; display: inline"> {{theTime}} </p><br>
                    <label>Restaurant: </label><p style="font-weight: bold; display: inline"> {{theRestaurant}}</p><br>
                    <label>Amount of people: </label><p style="font-weight: bold; display: inline"> {{thePeople}}</p><br>
                    {% if theName!="" %}
                        <label>Name: </label><p style="font-weight: bold; display: inline"> {{theName}}</p><br>
                        <label>Phone: </label><p style="font-weight: bold; display: inline"> {{thePhone}}</p><br>
                        <label>Email: </label><p style="font-weight: bold; display: inline"> {{theEmail}}</p><br>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% if theName=="" %}
    <br>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <form id="formConfirmBooking" action="{{ url_for('confirmPage.dateAndTimeCheck') }}" method="POST">
            <label>Name </label><input type="text" name="theName" required><br>
            <label>Phone </label><input type="tel" name="thePhone" required><br>
            <label>Email </label><input type="email" name="theEmail" required><br>
            <input type="submit" class="btn btn-dark" value="Confirm booking">
        </form>
    </div>
{% else %}
<div class="row">
    <br>
    <div class="col-lg-9 col-md-9 col-sm-9">
        <h2>Your booking has been received!</h2>
        <form id="formEditBooking" method="POST">
            <input type="submit" class="btn btn-dark" value="Edit your booking">
        </form>
        <br>
        <form id="formMainPage" method="GET">
            <input type="submit" class="btn btn-dark" value="Return to main page">
        </form>
    </div>
</div>
{% endif %}
</div>
<script type="text/javascript" src="{{ url_for('static',filename='js/dateTime.js') }}"></script>

{% endblock %}
