{% extends "layout.html" %}

{% block title %}
Front page
{% endblock %}


{% block script %}
    {{ super()}}
    <script>
      var map, infoWindow,pos;
      function initMap() {
        map = new google.maps.Map(document.getElementById('googleMap'), {
          center: {lat: 58.969800, lng: 5.733333},
          zoom: 6
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
              
            var directionsService = new google.maps.DirectionsService;
            var directionsDisplay = new google.maps.DirectionsRenderer({
                draggable: true,
                map: map
            });

            displayRoute(pos, {lat:58.970052, lng:5.730274}, directionsService,
            directionsDisplay);
              
              
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
          

      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }

      function displayRoute(origin, destination, service, display) {
        service.route({
          origin: origin,
          destination: destination,
          travelMode: 'DRIVING',
          avoidTolls: true
        }, function(response, status) {
          if (status === 'OK') {
            display.setDirections(response);
          } else {
            alert('Could not display directions due to: ' + status);
          }
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6SomsDgQgCxpJjweOxWHCWgQWyD5dZVs&callback=initMap">
    </script>
{% endblock %}


{% block content %}
<div id="main">
    <h1>Some content</h1>
    <div id="googleMap" style="width:500px;height:380px;"></div><br>
    <form action="{{ url_for('dateTimeTable.dateAndTime') }}" method="POST">

        <input type="radio" name="theRestaurant" value="Restaurant1" checked> Restaurant 1<br>
        <input type="radio" name="theRestaurant" value="Restaurant2"> Restaurant 2<br>
        <input type="radio" name="theRestaurant" value="Restaurant3"> Restaurant 3<br>

        <input type="submit" name="continueBooking" value="Continue booking">
    </form> 
</div>

<br>



{% endblock %}
