{% extends "layout.html" %}

{% block title %}
Front page
{% endblock %}

{% block styles %}
    {{ super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dateTime.css')}}">
{% endblock %}
{% block script %}
    {{ super()}}
    <script>
      var map, infoWindow,pos,latRestaurant,longRestaurant;
      latRestaurant=0;
      longRestaurant=0;
      function initMap() {
        map = new google.maps.Map(document.getElementById('googleMap'), {
          center: {lat: 58.969800, lng: 5.733333},
          zoom: 6
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation && latRestaurant!= 0 && longRestaurant!= 0) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Your location');
            infoWindow.open(map);
            map.setCenter(pos);

            var directionsService = new google.maps.DirectionsService;
            var directionsDisplay = new google.maps.DirectionsRenderer({
                draggable: true,
                map: map
            });

            displayRoute(pos, {lat:latRestaurant,lng:longRestaurant}, directionsService,
            directionsDisplay);


          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }


      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'No direction to display');
        infoWindow.open(map);
      }

      function displayRoute(origin, destination, service, display) {
        service.route({
          origin: origin,
          destination: destination,
          travelMode: 'DRIVING',
          avoidTolls: true
        }, function(response, status) {
          if (status === 'OK') {
            display.setDirections(response);
          } else {
            alert('Could not display directions due to: ' + status);
          }
        });
      }
    function showDirection(id) {
        var id_i=parseInt(id);
        var c = {{coords}};
        this.longRestaurant=c[id_i-1][0];
        this.latRestaurant=c[id_i-1][1];
        initMap();
        }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6SomsDgQgCxpJjweOxWHCWgQWyD5dZVs&callback=initMap">
    </script>
    <script src="{{ url_for('static',filename='js/reservation.js') }}"></script>
{% endblock %}


{% block content %}
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url({{ url_for('static',filename='images/bg-title-page-02.jpg') }});"><h2 class="tit6 t-center"> Reservation</h2></section>
<section class="section-reservation bg1-pattern p-t-100 p-b-113">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 p-b-30">
                <div class="t-center">
                <span class="tit2 t-center">Reservation</span>
                <h3 class="tit3 t-center m-b-35 m-t-2"> Book table</h3>
                </div>
            </div>


            <div id="main" style="width:85%;margin: 0 auto;text-align: center">
                <div class="card">
                    <div class="card-header">
                <h1 style="margin-top: 30px;margin-bottom: 20px;font-weight: bold">Choose your restaurant</h1></div>

                    <div class="card-body" style="display:inline-flex;flex-direction: row;justify-content: space-between;width:98%">
                      <form id="formSearchRestaurant" action="{{ url_for('dateTimeTable.dateAndTime') }}" style="width:50%" method="POST">
                            {% for i in range(names|length) %}
                            {% set myDirection = "showDirection("+(i+1)|string+")" %}
                              <label for="radio{{names[i]}}">{{names[i]}}</label>

                              <input id="radio{{names[i]}}" type="radio" class="radioRestaurant" name="theRestaurant" onclick={{myDirection}} value={{ids[i]}}> <br>

                             {% endfor %}
                            <input class ="continueBooking" type="submit" name="continueBooking" value="Continue booking">
                      </form>
                          <div id="googleMap" style="border-radius: 10px;width:50%;height:380px;"></div>
                    </div>
                </div>
                <div class="stats">
                  <h4 id="statsResponse"></h4>
                </div>

                <div class="info-reservation flex-w p-t-80">
                    <div class="size23 w-full-md p-t-40 p-r-30 p-r-0-md">
                        <h4 class="txt5 m-b-18"> Reserve by Phone</h4>
                        <p class="size25"> Donec quis euismod purus. Donec feugiat ligula rhoncus, varius nisl sed, tincidunt lectus. <span class="txt25">Nulla vulputate</span> , lectus vel volutpat efficitur, orci <span class="txt25">lacus sodales</span> sem, sit amet quam: <span class="txt24">(001) 345 6889</span></p>
                    </div>
                    <div class="size24 w-full-md p-t-40"><h4 class="txt5 m-b-18"> For Event Booking</h4>
                        <p class="size26"> Donec feugiat ligula rhoncus: <span class="txt24">(001) 345 6889</span> , varius nisl sed, tinci-dunt lectus sodales sem.</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<br>



{% endblock %}

