#restaurantInfo
{

}
#bookingInfo
{
    display: none;
}
.dayCalendar
{
    background-color: #dc3545;
    color: white;
}
.calendarItem
{

    background-color: white;
    padding-bottom: 15px;
    padding-top: 15px;
    border: 1px solid rgba(0,0,0,.125);
}
.dayNumber
{
    margin-bottom: 45px;
}
