<div class="col-lg-9" id="bookingCalendar">
    <div class="row">
        <div class="col-lg dayCalendar">
            <h3>Mon</h3>
        </div>
        <div class="col-lg dayCalendar">
            <h3>Tue</h3>
        </div>
        <div class="col-lg dayCalendar">
            <h3>Wed</h3>
        </div>
        <div class="col-lg dayCalendar">
            <h3>Thu</h3>
        </div>
        <div class="col-lg dayCalendar">
            <h3>Fri</h3>
        </div>
        <div class="col-lg dayCalendar">
            <h3>Sat</h3>
        </div>
        <div class="col-lg dayCalendar">
            <h3>Sun</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg calendarItem">
            <div class="text-left dayNumber">
                <a data-dateDay="{{ numberCalendar[0].strftime('%Y-%m-%d') }}" class="disabled full{{ fullDays[0] }}">{{ numberCalendar[0].strftime('%d') }}</a>
            </div>
            <div class=" text-right">
                <p class="numberPeople">{{ attendances[0] }}</p>
            </div>
        </div>
        <div class="col-lg calendarItem">
            <div class="text-left dayNumber">
                <a data-dateDay="{{ numberCalendar[1].strftime('%Y-%m-%d') }}" class="disabled full{{ fullDays[1] }}">{{ numberCalendar[1].strftime('%d') }}</a>
            </div>
            <div class=" text-right">
                <p class="numberPeople">{{ attendances[1] }}</p>
            </div>
        </div>
        <div class="col-lg calendarItem">
            <div class=" text-left dayNumber">
                <a data-dateDay="{{ numberCalendar[2].strftime('%Y-%m-%d') }}" class="disabled full{{ fullDays[2] }}">{{ numberCalendar[2].strftime('%d') }}</a>
            </div>
            <div class="text-right">
                <p class="numberPeople">{{ attendances[2] }}</p>
            </div>
        </div>
        <div class="col-lg calendarItem">
            <div class=" text-left dayNumber">
                <a data-dateDay="{{ numberCalendar[3].strftime('%Y-%m-%d') }}" class="disabled full{{ fullDays[3] }}">{{ numberCalendar[3].strftime('%d') }}</a>
            </div>
            <div class=" text-right">
                <p class="numberPeople">{{ attendances[3] }}</p>
            </div>
        </div>
        <div class="col-lg calendarItem">
            <div class=" text-left dayNumber">
                <a data-dateDay="{{ numberCalendar[4].strftime('%Y-%m-%d') }}" class="disabled full{{ fullDays[4] }}">{{ numberCalendar[4].strftime('%d') }}</a>
            </div>
            <div class=" text-right">
                <p class="numberPeople">{{ attendances[4] }}</p>
            </div>
        </div>
        <div class="col-lg calendarItem">
            <div class=" text-left dayNumber">
                <a data-dateDay="{{ numberCalendar[5].strftime('%Y-%m-%d') }}" class="disabled full{{ fullDays[5] }}">{{ numberCalendar[5].strftime('%d') }}</a>
            </div>
            <div class=" text-right">
                <p class="numberPeople">{{ attendances[5] }}</p>
            </div>
        </div>
        <div class="col-lg calendarItem">
            <div class=" text-left dayNumber">
                <a data-dateDay="{{ numberCalendar[6].strftime('%Y-%m-%d') }}" class="disabled full{{ fullDays[6] }}">{{ numberCalendar[6].strftime('%d') }}</a>
            </div>
            <div class=" text-right">
                <p class="numberPeople">{{ attendances[6] }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg calendarItem">
            <div class="text-left dayNumber">
                <a data-dateDay="{{ numberCalendar[7].strftime('%Y-%m-%d') }}" class="disabled full{{ fullDays[7] }}">{{ numberCalendar[7].strftime('%d') }}</a>
            </div>
            <div class=" text-right">
                <p class="numberPeople">{{ attendances[7] }}</p>
            </div>
        </div>
        <div class="col-lg calendarItem">
            <div class="text-left dayNumber">
                <a data-dateDay="{{ numberCalendar[8].strftime('%Y-%m-%d') }}" class="disabled full{{ fullDays[8] }}">{{ numberCalendar[8].strftime('%d') }}</a>
            </div>
            <div class=" text-right">
                <p class="numberPeople">{{ attendances[8] }}</p>
            </div>
        </div>
        <div class="col-lg calendarItem">
            <div class=" text-left dayNumber">
                <a data-dateDay="{{ numberCalendar[9].strftime('%Y-%m-%d') }}" class="disabled full{{ fullDays[9] }}">{{ numberCalendar[9].strftime('%d') }}</a>
            </div>
            <div class="text-right">
                <p class="numberPeople">{{ attendances[9] }}</p>
            </div>
        </div>
        <div class="col-lg calendarItem">
            <div class=" text-left dayNumber">
                <a data-dateDay="{{ numberCalendar[10].strftime('%Y-%m-%d') }}" class="disabled full{{ fullDays[10] }}">{{ numberCalendar[10].strftime('%d') }}</a>
            </div>
            <div class=" text-right">
                <p class="numberPeople">{{ attendances[10] }}</p>
            </div>
        </div>
        <div class="col-lg calendarItem">
            <div class=" text-left dayNumber">
                <a data-dateDay="{{ numberCalendar[11].strftime('%Y-%m-%d') }}" class="disabled full{{ fullDays[11] }}">{{ numberCalendar[11].strftime('%d') }}</a>
            </div>
            <div class=" text-right">
                <p class="numberPeople">{{ attendances[11] }}</p>
            </div>
        </div>
        <div class="col-lg calendarItem">
            <div class=" text-left dayNumber">
                <a data-dateDay="{{ numberCalendar[12].strftime('%Y-%m-%d') }}" class="disabled full{{ fullDays[12] }}">{{ numberCalendar[12].strftime('%d') }}</a>
            </div>
            <div class=" text-right">
                <p class="numberPeople">{{ attendances[12] }}</p>
            </div>
        </div>
        <div class="col-lg calendarItem">
            <div class=" text-left dayNumber">
                <a data-dateDay="{{ numberCalendar[13].strftime('%Y-%m-%d') }}" class="disabled full{{ fullDays[13] }}">{{ numberCalendar[13].strftime('%d') }}</a>
            </div>
            <div class=" text-right">
                <p class="numberPeople">{{ attendances[13] }}</p>
            </div>
        </div>
    </div>
</div>