 <div class="row">
        <div class="offset-6 col-lg-3">

        </div>
        <div class="col-lg-3>">
            <select id="selectPeriod" name="period" class="form-control">
                {{ periods|safe }}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3" id="restaurantInfo">
            <div class="card">
                <div class="card-header">
                    <h3>Restaurant</h3>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p style="font-weight: bold">{{restaurant.name}}</p>
                        <p style="font-weight: bold">{{restaurant.street}}</p>
                        <p style="font-weight: bold">{{restaurant.zip}}</p>
                        <p style="font-weight: bold">Telephone: {{restaurant.phone}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9" id="bookingCalendar">

            <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
            <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

            <!--Font Awesome (added because you use icons in your prepend/append)-->
            <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />

            <!-- Inline CSS based on choices in "Settings" tab -->
            <style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}</style>

            <!-- HTML Form (wrapped in a .bootstrap-iso div) -->
            <div class="bootstrap-iso">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <form method="post">
                                <div class="form-group ">
                                    <label class="control-label requiredField" for="date">
                                        Date
                                        <span class="asteriskField">
        *
       </span>
                                    </label>
                                    <div class="input-group">
                                        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar">
                                            </i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <button class="btn btn-primary " name="submit" type="submit" id="triggerTime" class="btn btn-dark">Trigger Time</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Extra JavaScript/CSS added manually in "Settings" tab -->
            <!-- Include jQuery -->
            <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

            <!-- Include Date Picker -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

            <script>
                $(document).ready(function(){
                    var date_input=$('input[name="date"]'); //our date input has the name "date"
                    var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
                    date_input.datepicker({
                        format: 'mm/dd/yyyy',
                        container: container,
                        todayHighlight: true,
                        autoclose: true,
                    })
                })
            </script>

        </div>
    </div>
    <div class="row">
        <div class="offset-9 col-lg-3=">
            <button id="triggerTime" class="btn btn-dark">Trigger Time</button>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-offset-3">
            <div class="col-lg-6">
                <p>HEI</p>
            </div>
        </div>
        <form id="formCheck" action="{{ url_for('dateTimeTable.dateAndTimeCheck') }}" method="POST">
            <input type="hidden" name="theName" value="">
            <input type="hidden" name="thePhone" value="">
            <input type="hidden" name="theEmail" value="">
            <input type="hidden" name="theRestaurant" value="{{restaurant.name}}">
            <input type="submit" id="checkBooking" class="btn btn-dark" value="Check booking">
        </form>
    </div>
 <script type="text/javascript" src="{{ url_for('static',filename='js/dateTime.js') }}"></script>

